.formInputs {
    margin-top: 1%;
}

.text-left {
    margin-left: 3%;
}

#guestComment{
    margin: 3%;
}

.firstName {
    padding-left: 2%;
}

#plusOne{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#cancelPlusOne{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.editButtons {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.tableHead {
    width: 6em;
}

.rsvp {
    width: 5em;
}

/*.plusOneName {*/
    /*width: 80%;*/
/*}*/