html {
    color: #cccccc;
    font-size: 1em;
    line-height: 1.4;
}

body {
      background-color: #cccccc; /* grey */
      font-family: 'Exo 2',  Arial, Helvetica, sans-serif;
}

#wrap {
      width: 85%;
      margin: 20px auto;
      padding: 20px 20px 5px 20px;
      background-color: #97c3a2; /* mint green */
}

#content {
    padding: 25px 50px 0px 50px;
    background-color: #ffffff;  /* white */
    color: #000000; /* black */
    border: 4px solid #cccccc;
}

#imageHeader {
  background: url('../img/header.jpg') no-repeat center center local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 4px solid #cccccc;
}

#textHeader {
    font-family: 'Allura',Arial, Helvetica, sans-serif;
    color: #aaa;
}

#textHeader h1 {
    font-size: 5em;
    margin: 0px 0px;
}

#theDate {
    font-size: 4em;
}

#navbar {
        font-size: 1.25em;
        padding: 2px 0;
        text-align: center;
        background-color: #97c3a2;
}
#navbar a {
        margin: 0 1em;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

#navbar a:hover {
	color: #cccccc;}

#navbar:after {
	content: "";
	clear: both;
	display: table;
}

#footer {
    display: table;
    margin: 10px auto 0 auto;
    padding: 1px 25px 3px 25px;
    background-color: #97c3a2;
    border-top: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
    border-right: 4px solid #cccccc;
}
#footer a {
    text-decoration: None;
    color: #ffffff;
}
#outsideFooter {
    color: #ffffff;
}

#couple {
    clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#coupleContainer {
	float:left;
	width:100%;
	position:relative;
	right:50%;
}

#groom {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#bride {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}


.personSection {
	padding: 5px;
}

.personDescription {
	padding-left: 15px;
}

.galleryImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    clear: right;
}

.galleryImage img {
    max-width: 40%;
}