{% extends "wedding_base.html" %}



{% block wedding-content %}
<div id="content">
  <div id="groom" class="personSection">  
    <h3>Kyle Rockman</h3>
    <p class="personDescription">
      Kyle grew up in Wisconsin.
    </p>
  </div>
  
  <div id="bride" class="personSection">
    <h3>Emily Buschang</h3>
    <p class="personDescription">
      Emily was born in Canada and is an Australian citizen.
    </p>
  </div>
  
  <div id="couple" class="personSection">
    <h3>Us</h3>
    <p class="personDescription">
      Kyle and Emily built this website together from scratch.
    </p>
  </div>
    
</div>
{% endblock %}

