{% extends "wedding_base.html" %}


{% block wedding-content %}

  <div class="personSection">
    <h3>How we met</h3>
    <p class="personDescription">
      {{ how_we_met | safe}}
    </p>
  </div>

  <div id="couple">
    <div id="coupleContainer">
      <div id="GoLeft" class="personSection">
      <h3>Kyle</h3>
      <p class="personDescription">
      {{ about_groom | safe}}
      </p>
    </div>

    <div class="headerDivider"></div>

    <div id="GoRight" class="personSection">
      <h3>Emily</h3>
      <p class="personDescription">
      {{ about_bride | safe}}
      </p>
    </div>
    </div>
  </div>
  
  <div id="engagement" class="personSection">
    <h3>When we got enagaged</h3>
    <p class="personDescription">
      {{ engagement_date }}
    </p>
  </div>

  <div id="engaged" class="personSection">
    <h3>How we got engaged</h3>
    <p class="personDescription">
      {{ engagement_story | safe}}
    </p>
  </div>

{% endblock %}

