{% extends "wedding_base.html" %}

{% #TODO: add dress code section %}

{% block wedding-content %}
  
  <div id="ceremony" class="personSection">
    <h3>Ceremony</h3>
    <p class="personDescription">
        Our ceremony will be outdoors at the Winfield Inn.  Please check back soon for the exact time we're getting hitched!
    </p>
  </div>
  
  <div id="reception" class="personSection">
    <h3>Reception</h3>
    <p class="personDescription">
        Reception will follow at the Winfield Inn.
    </p>
  </div>

    <div id="directions" class="personSection">
    <h3>Driving directions</h3>
    <p class="personDescription">
        We invite you to join us at the Winfield Inn in Kyle, Texas.  It's about 20 miles south of downtown Austin.
    </p>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=The%20Winfield%20Inn%2C%20Scott%20Street%2C%20Kyle%2C%20TX%2C%20United%20States&key=AIzaSyD51KGRYE17Jnmouarr0-VubPV8Q_KXUpY"></iframe>
  </div>

{% endblock %}

