{% extends "wedding_base.html" %}

{% block wedding-content %}
  
  <div id="ceremony" class="personSection">
    <h3>Ceremony</h3>
    <p class="personDescription">
        {{ ceremony | safe }}
    </p>
  </div>
  
  <div id="reception" class="personSection">
    <h3>Reception</h3>
    <p class="personDescription">
        {{ reception | safe }}
    </p>
  </div>

  <div id="directions" class="personSection">
    <h3>Driving directions</h3>
    <p class="personDescription">
        {{ directions_text | safe }}
    </p>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="{{ map_url }}"></iframe>
  </div>


  <div id="dressCode" class="personSection">
    <h3>Dress Code</h3>
    <p class="personDescription">
        {{ dress_code | safe }}
    </p>
  </div>

{% endblock %}

