{% extends "wedding_base.html" %}
{% load static %}

{% block wedding-content %}
<div id="content">
    <h2>A peek into our lives together...</h2>

    {% for img in img_list %}
        <div class="galleryImage">         
        {% if forloop.counter|divisibleby:2 %}
          <figure class="right">
            <img src="{% static img.img_path %}" alt="{{ img.img_text }}" />
            <figcaption>{{ img.img_text }}</figcaption>
          </figure>
        {% else %}
          <figure class="left">
            <img src="{% static img.img_path %}" alt="{{ img.img_text }}" />
            <figcaption>{{ img.img_text }}</figcaption>
          </figure>
        {% endif %}
        <div>
    {% endfor %}
</div>
{% endblock %}

