{% extends "wedding_base.html" %}



{% block wedding-content %}
  <div id="accommodations" class="personSection">
    <h3>Accommodations</h3>
    <p class="personDescription">
        {{ accomodations_text | safe}}
        If you'd prefer to stay somewhere more unique, here are a few Austin suggestions:
        <ul>
          <li><a href="http://www.sagehill.com/">Sage Hill Inn Above Onion Creek</a></li>
          <li><a href="http://www.driskillhotel.com/">The Driskill Hotel</a></li>
          <li><a href="http://www.austinmotel.com/">The Austin Motel</a></li>
  </ul>
    </p>
  </div>
  <div id="area" class="personSection">
    <h3>Things to do in the area</h3>
    <p class="personDescription">
        <ul>
          <li><a href="http://www.cap10k.com/">Cap 10k</a></li>
          <li><a href="http://circuitoftheamericas.com/motogp/">Redbull MotoGP @ Circuit of the Americas</a></li>
          <li><a href="http://austintexas.gov/page/lady-bird-lake">Lady Bird Lake</a> & <a href="http://austintexas.gov/department/zilker-metropolitan-park">Zilker Park</a></li>
          <li><a href="https://www.wildflower.org/">Lady Bird Johnson Wildflower Center</a></li>
          <li><a href="http://www.austinchronicle.com/calendar/music/">Live Music</a></li>
          <li><a href="http://torchystacos.com/">Torchy's Tacos</a></li>
        </ul>
    </p>
  </div>
{% endblock %}

