{% extends "wedding_base.html" %}



{% block wedding-content %}
<p class="center">More information coming soon!</p>
  <div id="accommodations" class="personSection">
    <h3>Accommodations</h3>
    <p class="personDescription">
        We've blocked a few rooms at HOTEL BLAH, conveniently located a few miles from the venue.

        If you'd prefer to stay somewhere else, here are a few unique Austin suggestions:
        <ul>
          <li><a href="http://www.sagehill.com/">Sage Hill Inn Above Onion Creek</a></li>
          <li><a href="http://www.driskillhotel.com/">The Driskill Hotel</a></li>
          <li><a href="http://www.austinmotel.com/">The Austin Motel</a></li>
  </ul>
    </p>
  </div>
  <div id="area" class="personSection">
    <h3>Things to do in the area</h3>
    <p class="personDescription">
        <ul>
          <li>Cap 10k</li>
          <li>MotoGP</li>
          <li>Lady Bird Lake & Zilker Park</li>
          <li>Lady Bird Johnson Wildflower Center</li>
          <li>Live Music</li>
          <li>Breakfast Tacos</li>
        </ul>
    </p>
  </div>
{% endblock %}

