{% extends "templates/photologue/photo_list.html" %}
{% load static %}

{% block content %}

{% if object_list %}
    {% for photo in object_list %}
    <span class="gallery-photo">
        <a class="fancybox" caption="{{ photo.caption }}" rel="group" href="{{ photo.get_display_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
    </span>
    {% endfor %}
{% else %}
<p>No photos were found.</p>
{% endif %}

{% if is_paginated %}
<p>{{ paginator.count }} photos total.</p>
<div id="page_controls">
    <p>{% if page_obj.has_previous %}<a href="{% url 'pl-photo-list' page_obj.previous_page_number %}">Previous</a> | {% endif %} page {{ page_obj.number }} of {{ paginator.num_pages }} {% if page_obj.has_next %}| <a href="{% url 'pl-photo-list' page_obj.next_page_number %}">Next</a>{% endif %}</p>
</div>
{% endif %}

{% endblock %}


