{% extends "wedding_base.html" %}
{%  load static %}


{% block wedding-content %}
    <div class="center">
      <a id="registryZola" href="https://www.zola.com/registry/kyleandemily"><img class="registry_img" src={% static 'wedding/img/zola.jpg' %}></a>
      <a id="registryBBB" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541721137&pwsurl="><img class="registry_img" src={% static 'wedding/img/bbb.jpg' %}></a>
    </div>
{% endblock %}

