{% extends "base.html" %}
    
{% block content %}
    
<div id="wrap">
  <div id="imageHeader">
  <span id="textHeader">
    <h1>Kyle &amp; Emily</h1>
    
    <div id="theDate">
      <div>April 10th, 2015</div>
    </div>
  </span>
  </div>

    {% include 'navbar.html' %}
    <div id="content">
      {% block wedding-content %}{% endblock %}
    {% include 'wedding_footer.html' %}
    </div>
    <div id="outsideFooter" class="center">Kyle and Emily built this website together from scratch.</div>
</div>
{% endblock %}

