{% extends "wedding_base.html" %}

{% block wedding-content %}
    <div class="column text-center" id=container">
        <h1 class="huge-margin-top">Kyle Rockman + Emily Buschang Wedding &mdash; RSVP</h1>

        <hr>

        <form name="lookup" id="lookup" action="lookup/" method="GET">
            <p>Please enter your name to lookup your invitation</p>
            <div class="row">

                <div>
                <label class="label" for="first_name">First Name:</label>
                <input type="text" name="first_name" id="firstname" placeholder="First Name" value="{{ first_name }}">
                </div>

                <div>
                <label class="label" for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="lastname" placeholder="Last Name" value="{{ last_name }}">
                </div>

                <div>
                <button class="submit button postfix">Find It</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}