{% extends "wedding_base.html" %}

{% block wedding-content %}
    <div class="column text-center" id=container">
        <h1 class="huge-margin-top">RSVP to Kyle &amp; Emily's wedding</h1>

        <hr>

        <form name="lookup" id="lookup" action="lookup/" method="GET">
            <p>You only need to enter the name of one member in your party using the following format: John Smith</p>
            <p>Do not enter prefixes such as Mr., Mrs., Dr., etc.</p>
            <div class="row">

                <div class="formInputs">
                <input type="text" name="first_name" id="firstname" placeholder="First Name" value="{{ first_name }}">
                <input type="text" name="last_name" id="lastname" placeholder="Last Name" value="{{ last_name }}">
                </div>

                <div class="formInputs">
                <button class="submit button postfix">Find It</button>
                </div>
            </div>
        </form>
      <div id="error_msg"></div>
    </div>

{% endblock %}