{% extends "wedding_base.html" %}

{% block wedding-content %}
<h3>{{ invitation.name }}</h3>

<p>Thanks! Your response is saved. If you need to make changes to your RSVP please call Emily at (512) 677-9297.</p>


    <h3>{{ invitation.name }}</h3>

    {% for person in invitation.people.all %}
    <h5 class="huge-margin-top">Guest #{{ forloop.counter }}</h5>

    <div class="row text-left">
        <div class="medium-6 medium-offset-3 columns">
            <label>
                Attending Wedding:
            </label>
            {% if person.attendingWedding %}
              Yes
            {% else %}
              No
            {%  endif %}
        </div>
        {%  if invitation.helloGoodbyeInvite %}
        <div class="medium-6 medium-offset-3 columns">
            <label>
                Attending Welcome Dinner:
            </label>
            {% if person.attendingWelcome %}
              Yes
            {% else %}
              No
            {%  endif %}
        </div>
        <div class="medium-6 medium-offset-3 columns">
            <label>
                Attending Farewell Lunch:
            </label>
            {% if person.attendingFarewell %}
              Yes
            {% else %}
              No
            {%  endif %}
        </div>
        {% endif %}
        <div class="small-6 medium-3 medium-offset-3 columns">
            <label>
                First Name:
            </label>
            {{ person.first_name }}
        </div>
        <div class="small-6 medium-3 columns end">
            <label>
                Last Name:
            </label>
            {{ person.last_name }}
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="medium-6 medium-offset-3 columns">
            <label>
                Comments:
            </label>
            {{ invitation.comment }}
        </div>
    </div>

{%  endblock %}