{% extends "wedding_base.html" %}

{% block wedding-content %}
<h3>{{ invitation.name }}</h3>

<p>Thanks!  Your response is saved. If you need to make changes to your RSVP please call Emily at (512) 677-9297
   or <a href="mailto:buschang.rockman.wedding@gmail.com?Subject=ATTENTION%20Wedding%20RSVP%20Change" target="_top">send her an email</a>.</p>

    {% for person in invitation.people.all %}
    <h5 class="huge-margin-top">{{ person.first_name }} {{ person.last_name }}</h5>

    <div class="row text-left">
        <div class="medium-6 medium-offset-3 columns">
            <label>
                Attending Wedding:
            </label>
            {% if person.attendingWedding %}
              Yes
            {% else %}
              No
            {%  endif %}
        </div>
        {%  if invitation.helloGoodbyeInvite %}
        <div class="medium-6 medium-offset-3 columns">
            <label>
                Attending Welcome Dinner:
            </label>
            {% if person.attendingWelcome %}
              Yes
            {% else %}
              No
            {%  endif %}
        </div>
        <div class="medium-6 medium-offset-3 columns">
            <label>
                Attending Farewell Lunch:
            </label>
            {% if person.attendingFarewell %}
              Yes
            {% else %}
              No
            {%  endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="row">
      <div class="medium-6 medium-offset-3 columns">
        <h5 class="huge-margin-top">Comments:</h5>
        <div class="row text-left">
        {{ invitation.comment }}
        </div>
      </div>
    </div>

{%  endblock %}