{% extends "wedding_base.html" %}

{% block wedding-content %}

<form name="people" id="people" method="POST" action="{% url "save" %}">
{% csrf_token %}
<input type="hidden" name="invitation_id" value="{{ invitation.id }}">
    <table>
        <thead>
        <tr class="label">
          <td class="tableHead"></td>
          <td class="tableHead">First Name</td>
          <td class="tableHead">Last Name</td>
          {% if invitation.helloGoodbyeInvite %}
            <td class="tableHead">Wedding</td>
            <td class="tableHead">Welcome Dinner</td>
            <td class="tableHead">Farewell Lunch</td>
          {%  else %}
            <td class="tableHead">Attending?</td>
          {% endif %}
            <td class="tableHead"></td>
        </tr>
        </thead>
    <tbody>
    {% for person in invitation.people.all %}
        <tr class="formInputs" id="person.{{ forloop.counter0 }}" data-value="{{ forloop.counter0 }}">
          <td class="editButtons">
            <p class="editButton buttons" id="editButton{{ forloop.counter0 }}">Edit</p>
            <p class="completeEditButton editable buttons" id="completeEdit{{ forloop.counter0 }}">Done</p>
          </td>
          <td class="firstName" id="firstName{{ forloop.counter0 }}">
              <input class="editName{{ forloop.counter0 }} editable" id="first{{ forloop.counter0 }}" type="text" name="person.{{ forloop.counter0 }}.first_name" value="{{ person.first_name }}">
              <p class="viewName{{ forloop.counter0 }}">{{ person.first_name }}</p>
          </td>
          <td class="lastName id="lastName{{ forloop.counter0 }}"">
              <input class="editName{{ forloop.counter0 }} editable" id = "last{{ forloop.counter0 }}" type="text" name="person.{{ forloop.counter0 }}.last_name" value="{{ person.last_name }}">
              <p class="viewName{{ forloop.counter0 }}">{{ person.last_name }}</p>
          </td>
          <td class="rsvp">
              <select class="attendingWedding" name="person.{{ forloop.counter0 }}.attendingWedding"><option selected="selected" value="0">No</option><option value="1">Yes</option></select>
          </td>
          {%  if invitation.helloGoodbyeInvite %}
            <td class="rsvp">
              <select class="attendingWedding" name="person.{{ forloop.counter0 }}.attendingWelcome"><option selected="selected" value="0">No</option><option value="1">Yes</option></select>
          </td>
          <td class="rsvp">
              <select class="attendingWedding" name="person.{{ forloop.counter0 }}.attendingFarewell"><option selected="selected" value="0">No</option><option value="1">Yes</option></select>
          </td>
          {% else %}
          <input type="hidden" name="person.{{ forloop.counter0 }}.attendingWelcome" value="0">
          <input type="hidden" name="person.{{ forloop.counter0 }}.attendingFarewell" value="0">
          {% endif %}
          <td><div id="error_msg{{ forloop.counter0 }}"></div></td>
        </tr>
    {% endfor %}

    {% if invitation.plusOne %}
        <tr class="formInputs" id="plusOne">
            <input type="hidden" id="addPlusOne" name="addPlusOne" value="0">
            <td>Add</td>
            <td></td>
            <td></td>
        {%  if invitation.helloGoodbyeInvite %}
            <td></td>
            <td></td>
        {%  endif %}
        </tr>
        <tr class="formInputs" id="plusOneEdit">
          <td id="cancelPlusOne">Cancel</td>
          <td>
              <input type="text" class="plusOneName" id="plusOneFirst" name="plus_one_first_name" placeholder="First Name" value="">
          </td>
          <td>
              <input type="text" class="plusOneName" id="plusOneLast" name="plus_one_last_name" placeholder="Last Name" value="">
          </td>
          <td>
              <select class="attending" name="plus_one_attending"><option selected="selected" value="0">No</option><option value="1">Yes</option></select>
          </td>
          {%  if invitation.helloGoodbyeInvite %}
          <td class="rsvp">
              <select class="attendingWedding" name="plusOneAttendingWelcome"><option selected="selected" value="0">No</option><option value="1">Yes</option></select>
          </td>
          <td class="rsvp">
              <select class="attendingWedding" name="plusOneAttendingFarewell"><option selected="selected" value="0">No</option><option value="1">Yes</option></select>
          </td>
          {% else %}
          <input type="hidden" name="plusOneAttendingWelcome" value="0">
          <input type="hidden" name="plusOneAttendingFarewell" value="0">
          {% endif %}
          <td><div id="plus_one_error_msg"></div></td>
        </tr>
    {% endif %}
    </tbody>
    </table>

    <div class="formInputs row">
      <p>{{ error_msg }}</p>
    </div>

    <div class="formInputs row">

        <div class="medium-6 medium-offset-3 columns" id="guestComment">
            <label class="label" for="comment">
                Comment for the Couple:
            </label>
            <textarea name="comment" id="commentText">{{ invitation.comment }}</textarea>
        </div>

    </div>

    <button type="submit" class="huge-margin-top submit button">Save Guest Details</button>
</form>

{%  endblock %}

<script type="text/javascript">
    var $people_form = $("form#people"),
        $container = $("#container");

        $people_form.submit(function(event) {
            function show_error(msg) {
                var $error = $('<div data-alert class="alert-box alert radius">'+msg+'</div>');
                $people_form.append($error);
                $('html, body').animate({
                    scrollTop: $error.offset().top
                }, 500);
            }

            var $attending_missing = $("select option[value='-']:selected", $people_form);

            event.preventDefault();

            if ($attending_missing.length > 0) {
                show_error("Please indicate if all guests are going to be attending or not.");
                return;
            }

            $.ajax({
                url: '/save/',
                type: 'POST',
                data: $(this).serialize(),
                success: function(data, status, jqXHR) {
                    $people_form.fadeOut(function() {
                        $container.append(data);
                    });
                },
                error: function(jqXHR, status) {
                    show_error("Oops! We failed to save your response. Yell at Emily to fix this!");
                }
            });
    });
</script>