<div class="personSection">
    <h5>Welcome Dinner Details</h5>
    <p class="personDescription">
        <ul class="bulletless">
          <li><a href="http://www.saltlickbbq.com/pages/Driftwood.html">The Salt Lick BBQ in Driftwood</a></li>
          <li>18300 FM 1826</li>
          <li>Driftwood, TX 78619</li>
          <li>Thursday, April 9th at 5:30pm</li>
          <li>Come enjoy a classic BBQ dinner hosted by Mr. and Mrs. Rockman to welcome you to town.</li>
        </ul>
    </p>
</div>

<div class="personSection">
    <h5>Farewell Lunch Details</h5>
    <p class="personDescription">
        <ul class="bulletless">
          <li><a href="http://mandolasmarket.com/">Mandola's Italian Market</a> at Arbor Trail</li>
          <li>4301 W William Cannon/ So Mopac, Bldg E-1</li>
          <li>Austin, TX 78749</li>
          <li>Saturday, April 11th at 11:00am</li>
          <li>Please join the couple for a casual italian lunch for one more celebration together!</li>
        </ul>
    </p>
</div>
